.container {
  display: flex;
  justify-content: center;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  max-width: 600px;
  border: 2px solid rgb(112, 112, 112);
  padding: 1rem;
}
.itemDetail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
