.container {
  display: flex;
  justify-content: center;
}
.carrouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.carrouselImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.textContainer {
  position: relative;
  font-size: 1.5em;
  color: black;
  border-bottom: solid 2px #b7a986;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.textContainer h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.carrouselImg {
  max-width: 420px;
  width: 100%;
  height: auto;
  max-height: 426px;
}

.button {
  background-color: transparent;
  border: none;
}
polyline {
  stroke: #0000004e;
}
