.navBar {
  background-color: #b7a986;
  display: flex;
  align-items: center;
  justify-content: center !important;
  padding-right: 5%;
  flex-wrap: nowrap !important;
}
.contenedor {
  height: 55px;
  width: inherit !important;
}
.link {
  gap: 2rem;
}
.logo {
  position: relative;
  top: 65px;
}
.cart {
  margin-right: 2%;
}
