.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.socialMedia {
  display: flex;
  justify-content: space-evenly;
  gap: 15rem;
  flex-wrap: wrap;
}
.social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  color: #1a181b;
}
.button {
  background-color: #1a181b;
  color: white;
  height: 2.5em;
  width: 15em;
  border-radius: 10px;
}
